# Core libraries
asyncio          # For asynchronous programming
typing           # For type hinting

# Web-related libraries
python-dotenv    # For loading environment variables
requests         # For making HTTP requests
websockets       # For WebSocket communication
click>=8.1.7        # For creating command-line interfaces

# Database-related libraries
asyncpg          # For PostgreSQL interaction
pymongo          # For MongoDB interaction
psycopg2         # For PostgreSQL interaction

# Security-related libraries
pycrypto         # For cryptographic functions
web3             # For interacting with Ethereum blockchain

# Testing libraries
pytest           # For testing Python code
unittest         # For unit testing
